<header>
    <div class="container-fluid">
        <div class="head">
            <div class="row cabecera">

                <div class="col-sm-6">
                    <div class="logoTitulo">

                        <img class="logo" src="../assets/logo.jpg" alt="logo Argentina Programa">
                        <h3 class="title">Argentina Programa #Yo Programo</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="redLog">
                        <div class="redes">
                            <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                            <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a>
                            <a href="http://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/EvanaSabatella1989/" target="_blank"><i
                                    class="fab fa-github"></i></a>
                        </div>
                        <button class="btn btn-success">login</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>