/* body{
    background: linear-gradient(#e66465, #9198e5);

} */

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin: 0px 20px;
    
   
}
.head-left,.head-rigth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10%;
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
}

.title{
    font-size: 1.25em;
}

.redes{
    margin-right: 20px;

}
.banner{
    height: 400px;
}
.back{
   
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/* .foto{
    width: 100px;
    border-radius: 50%;
} */

#info-img{
    display: flex;
}

.profile-image{
    width: 120px;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: 130px;
}

.nombre{
    font-size: 1.9em;
}

.datos{
    text-align: center;
    
}

.row{
    display: flex;
    flex-direction: row;
}

.experiencia, .educacion{
    font-size: 2em;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}



.row .col-sm-4{
    text-align: center;
    justify-content: center;
}

.logos{
    width: 150px;
    height: 150px;
    
    
}