/* You can add global styles to this file, and also import other style files */
/* aqui se especifican los estilos para toda la aplicaion, estilos globales */
.head{
    
    margin: 0px 20px;
    
   
}
.head-left,.head-rigth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 50px;
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
}

.title{
    font-size: 1.25em;
}

.redLog{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}

.redes{
    
    margin-right: 20px;
    
    

}
.banner{
    height: 400px;
}
.back{
   
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/* .foto{
    width: 100px;
    border-radius: 50%;
} */

#info-img{
    display: flex;
}

.profile-image{
    width: 120px;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: 130px;
}

.nombre{
    font-size: 1.9em;
}

.datos{
    text-align: center;
    
}

/* .row{
    display: flex;
    flex-direction: row;
} */

.cabecera{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoTitulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experiencia, .educacion{
    font-size: 2em;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
}



.row .col-sm-4{
    text-align: center;
    justify-content: center;
}

.logos{
    width: 150px;
    height: 150px;
    
    
}

.hard, .soft{
    font-size: 1.6em;
    text-decoration: underline;
    margin-top: 50px;
    margin-left: 50px;
}

.skills, .proyectos{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 2em;
}

.skill{
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    
    
}

.container{
    margin-bottom: 30px
}

.thumbnail a{
    text-decoration: none;
}

footer{
    align-items: center;
    height: 140px;
}




.container .redes{
    text-align: center;
    /* height: 10%; */
    margin: 80px auto;
}
